<mat-toolbar color="secondary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">CitiHacks Users UI</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px">
      <li #toolbarIcons *ngFor="let item of toolbarIcons" class="toolbar-icon" (click)="item.click()">
        <button mat-icon-button>
          <mat-icon> {{ item.icon }} </mat-icon>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
